In [2]:
import os
import pickle
import warnings

import pandas as pd
import psycopg2

from utils import ml_workflow, db

warnings.filterwarnings("ignore")

In [3]:
conn, _ = db.connect('dev')
src_df = pd.read_sql(sql="SELECT * FROM diabetes_diagnosis_results;", con=conn)

In [4]:
src_df.columns

Index(['index', 'pregnancies', 'glucose', 'blood_pressure', 'skin_thickness',
       'insulin', 'bmi', 'diabetes_pedigree_function', 'age', 'outcome',
       'is_trained'],
      dtype='object')

In [5]:
len(src_df)

2004

In [6]:
src_df.head()

,index,pregnancies,glucose,blood_pressure,skin_thickness,insulin,bmi,diabetes_pedigree_function,age,outcome,is_trained
0,1816,1,78,64,25.0,NaN,33.626342,0.240330,22,0,False
1,114,4,101,64,NaN,NaN,32.940617,0.207371,22,0,False
2,1594,7,90,74,NaN,NaN,51.384365,0.224333,43,1,False
3,175,0,97,68,39.0,0.0,26.765326,0.249816,26,0,True
4,176,2,108,74,0.0,0.0,32.697239,0.213653,25,0,True

In [7]:
src_df['is_trained'].value_counts()

True     2001
False       3
Name: is_trained, dtype: int64

In [7]:
df = src_df.drop("is_trained", axis=1, inplace=False)
df.head()

,index,pregnancies,glucose,blood_pressure,skin_thickness,insulin,bmi,diabetes_pedigree_function,age,outcome
0,200,9,125,74,0.0,0.0,28.536910,0.444902,45,1
1,3832,4,109,80,0.0,0.0,28.047673,0.238243,22,0
2,4927,4,88,78,39.0,0.0,52.371341,0.279471,26,0
3,4088,9,125,74,0.0,0.0,40.062688,0.203922,45,0
4,3644,5,107,78,44.0,284.0,52.935068,0.284959,45,1

In [12]:
C = 0.1
ml_workflow.train_and_evaluate_model(df, C)

ID: 20220110114144, C: 0.1, AUC score: 0.7334239834239835

In [13]:
C = 0.5
ml_workflow.train_and_evaluate_model(df, C)

ID: 20220110114147, C: 0.5, AUC score: 0.7668026418026417

In [14]:
C = 1.0
ml_workflow.train_and_evaluate_model(df, C)

ID: 20220110114148, C: 1.0, AUC score: 0.7777777777777778

In [9]:
C = 5.0
ml_workflow.train_and_evaluate_model(df, C)

ID: 20220110115017, C: 5.0, AUC score: 0.7887529137529137

In [ ]:
C = 10.0
ml_workflow.train_and_evaluate_model(df, C)

In [10]:
run_id=20220110115017
C=5.0
ml_workflow.train_and_deploy_model(run_id, C)

deploy finished

In [3]:
input_dict = {
    "index": [1],
    "pregnancies": [1],
    "glucose": [1],
    "bloodpressure": [1],
    "skinthickness": [1],
    "insulin": [1],
    "bmi": [1],
    "diabetespedigreefunction": [1],
    "age": [1],
}
input_df = pd.DataFrame(input_dict)

In [4]:
imputer = pickle.load(open(f"./deploy/20220109103554/models/imputer.pkl", "rb"))
model = pickle.load(open(f"./deploy/20220109103554/models/mlmodel.pkl", "rb"))
input_y_proba, input_y_pred = ml_workflow.predict(input_df, imputer, model)

In [7]:
input_y_proba[0]

0.0025069771694962396

In [8]:
input_y_pred[0]

0

In [27]:
train_df = pd.read_sql(
        sql="SELECT index, outcome, is_trained FROM diabetes_diagnosis_results;", con=conn
    )

In [29]:
train_df.groupby(['outcome', 'is_trained']).count().reset_index()

   outcome  is_trained  index
0        0       False      2
1        0        True   1537
2        1       False      1
3        1        True    464

In [21]:
test_df = pd.read_sql(
        sql="SELECT outcome, is_trained FROM diabetes_diagnosis_results WHERE is_trained = False;", con=conn
    )

In [22]:
test_df['outcome'].value_counts()

0    2
1    1
Name: outcome, dtype: int64

In [23]:
result_df = pd.DataFrame()